@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Luckiest+Guy&display=swap");
@import "tailwindcss";

html {
  font-family: "Luckiest Guy";
}
body {
  min-height: 100vh;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-shadow: 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.cartoon-shadow {
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.2);
}
